.profileDiv {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.welcomeHeaderDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profileColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.documentBox {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  width: 465px;
  min-height: 185px;
  margin: 10px
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.createDocDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createDocButton {
  background-color: #288ca4;
  color: white;
  padding: 10px;
  border: solid 1px gray;
  max-width: 240px;
  margin-right: 60px;
  height: 45px;
}

.yourDocuments {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.sharedDocuments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectDocButton {
  background-color: #288ca4;
  color: white;
  border: solid 1px gray;
  width:240px;
  align-self: center;
  padding: 3px;
  margin: 3px;
}

.docDetail {
  font-weight: bold;
}

.docDetailDiv {
  margin: 3px;
}